
hr {
    width: 75%;
}

p {
    font-size: 1.1em;
}

body {
    background-color: darkslategrey;
}

/* rename me */
.MAX { 
    height: 100%;
    width: 100%;
    
    position: fixed;
    
    top: 30%;
    
    padding: 0% 5%; 
}

.full {
    width: 100%;
    height: 100%;
    
    display: block;
    
    position: fixed;
    top: 0px;
    left:0px;
}

html body {
    background-color: #3a3838;
}

.bg {
    display: block;    
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0px;
    left:0px;
    
    z-index: -100;   
}
bg-r

.bg::after {
    content: "";
    background-image: url("http://ec2-18-130-227-216.eu-west-2.compute.amazonaws.com/img/bgnd.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -100;   
}

.inline {
    display: inline;
}

.text-align-center {
    text-align: center;
}

.vertical-align-center {
    display: flex;
    align-items: center;
}

#welcome {
    margin-top: 9%;
    /* background-color: white; */
}

.ma {
    margin: auto !important;
}

#welcome .card {
    padding: 17.5px;

    /* display: flex; */
    /* width: 100%; */

    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.75);    
}

#welcome h2 {
    font-size: 3.75rem;
}

#welcome hr {
    margin: auto;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

#welcome .container .row {
    color: #ece0e0;
}

#welcome .container .row  hr {    
    background-color: #cfcbcb;

    margin-top: 20px;
    margin-bottom: 35px;
}

#footer footer a {
    text-align: center;
}

nav .navbar {
    -webkit-box-shadow: 5px 5px 3px - rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 3px - rgba(0,0,0,0.75);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.75);

    z-index: 10;
}

/* .spacer { 
    height: 20%;
    top: 20%;
} */